<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Paramos - Galería</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/js/zarzastyle.css" />
    <link rel="stylesheet" href="/css/galeriastyle.css" />
  </head>
  <body>
    <nav
      class="navbar navbar-expand-lg navbar-light"
      style="background-color: #9ccc65"
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Ecosistemas Diversos</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="index.html">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="paramos.html">Paramos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="ubicacion.html">Ubicación</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="galeria.html">Galería</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!--Seccion de  galeria-->
    <div class="container-fluid py-5">
      <div class="container pt-5 pb-3">
        <div class="text-center mb-3 pb-3">
          <h1>Paramo de Sumapaz y Ocetá</h1>
        </div>
        <div class="row">
        <!--Inicio carta-->
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="package-item bg-white mb-2">
              <img class="img-fluid" src="../img/sumapaz.jpg" alt="" />
              <div class="p-4">
                <a class="h5 text-decoration-none" href=""
                  >Descubre el Páramo de Sumapaz</a
                >
                <hr>
                Explora la belleza natural de este lugar único
              </div>
            </div>
          </div>
          <!--Fin carta-->
          <!--Inicio carta-->
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="package-item bg-white mb-2">
              <img class="img-fluid" src="../img/sumapaz2.jpg" alt="" />
              <div class="p-4">
                <a class="h5 text-decoration-none" href=""
                  >Sumérgete en la Naturaleza</a
                >
                <hr>
                Conecta con la biodiversidad única de Sumapaz.
              </div>
            </div>
          </div>
          <!--Fin carta-->
          <!--Inicio carta-->
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="package-item bg-white mb-2">
              <img class="img-fluid" src="../img/sumapaz3.jpg" alt="" />
              <div class="p-4">
                <a class="h5 text-decoration-none" href=""
                  >Diversidad en Sumapaz</a
                >
                <hr>
                Explora la riqueza de vida en el páramo
              </div>
            </div>
          </div>
          <!--Fin carta-->
          <!--Inicio carta-->
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="package-item bg-white mb-2">
              <img class="img-fluid" src="../img/oceta.jpg" alt="" />
              <div class="p-4">
                <a class="h5 text-decoration-none" href=""
                  >Explora el Páramo de Ocetá</a
                >
                <hr>
                Descubre la belleza natural de esta región única.
              </div>
            </div>
          </div>
          <!--Fin carta-->
          <!--Inicio carta-->
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="package-item bg-white mb-2">
              <img class="img-fluid" src="../img/oceta2.jpg" alt="" />
              <div class="p-4">
                <a class="h5 text-decoration-none" href=""
                  >Inspiración en Ocetá</a
                >
                <hr>
                Encuentra tranquilidad y creatividad en sus paisajes.
              </div>
            </div>
          </div>
          <!--Fin carta-->
          <!--Inicio carta-->
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="package-item bg-white mb-2">
              <img class="img-fluid" src="../img/oceta3.jpg" alt="" />
              <div class="p-4">
                <a class="h5 text-decoration-none" href=""
                  >Biodiversidad en el Páramo de Ocetá</a
                >
                <hr>
                Explora la variedad de vida en este ecosistema singular.
              </div>
            </div>
          </div>
          <!--Fin carta-->

        </div>
      </div>
    </div>
    <!--Fin seccion galeria-->
    
    <!-- Inicio Footer -->
    <div class="container-fluid bg-green text-white py-5 px-sm-3 px-lg-5" style="margin-top: 90px;">
        <div class="row pt-5 justify-content-around">
            <div class="col-lg-3 col-md-6 mb-5">
                <a href="" class="navbar-brand">
                    <h1 class="text-primary"><span class="text-white">SUMAPAZ - OCETÁ</span></h1>
                </a>
                <p>Explora la majestuosidad del Páramo de Ocetá y sumérgete en su biodiversidad única. Descubre la serenidad de este ecosistema natural y déjate inspirar por sus paisajes impresionantes.</p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px;">Contactanos</h5>
                <p><i class="fa fa-map-marker-alt mr-2"></i>Páramo de Sumapaz, Páramo de Ocetá, Colombia</p>
                <p><i class="fa fa-phone-alt mr-2"></i>+57323 456789</p>
                <p><i class="fa fa-envelope mr-2"></i>info@paramooceta.com - info@paramosumapaz.com</p>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-green text-white border-top py-4 px-sm-3 px-md-5" style="border-color: rgba(256, 256, 256, .1) !important;">
        <div class="desing col-lg-6 text-center text-md-right">
            <p class="m-0 text-white">Designed by Silvana</p>
        </div>
    </div>    
    <!-- Fin Footer -->

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
