<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ecosistemas Diversos - Página Principal</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">  <link rel="stylesheet" href="/js/zarzastyle.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #9CCC65;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Ecosistemas Diversos</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="paramos.html">Paramos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="ubicacion.html">Ubicación </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="galeria.html">Galería</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <header class="py-5" style="background-image: url('/img/paramo2.jpg'); background-position: center; background-size: cover;">
        <div class="container">
            <div class="row align-items-end" style="min-height: 100vh;">
                <div class="col-md-6">
                    <div class="text-left text-md-start">
                        <h1 class="text-white fs-3 fw-bolder">Ecosistemas Diversos</h1>
                        <p class="slogan mb-0">Conéctate con la Naturaleza en Nuestra Página sobre Ecosistemas Diversos</p>
                    </div>
                </div>
            </div>
        </div>
    </header>

<div id="contenido" class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <h1 id="la_zarza">Bienvenido a Ecosistemas Diversos - Páramo de Sumapaz y Ocetá</h1>
      <p>Explora la majestuosidad y la diversidad única de los ecosistemas de los páramos de Sumapaz y Ocetá. Sumérgete en la serenidad de estos paisajes impresionantes y descubre la riqueza de vida que albergan. Desde la flora única hasta la fauna fascinante, cada rincón de estos páramos te espera para ser explorado y apreciado.

        Embárcate en una aventura inolvidable mientras te adentras en los senderos serpenteantes y te maravillas con las vistas panorámicas. En cada paso, encontrarás una nueva sorpresa que te recordará la importancia de conservar estos valiosos ecosistemas.
        
        Ya sea que estés buscando una experiencia de conexión con la naturaleza o un viaje lleno de descubrimientos, los páramos de Sumapaz y Ocetá te esperan con los brazos abiertos. ¡Bienvenido a estos maravillosos ecosistemas llenos de vida y belleza! 🌿🏞️</p>
    </div>
    <div class="col-md-6">
      <img src="../img/paramos.jpg" class="img-fluid" alt="La Zarza">
    </div>
  </div>
</div>

    <!-- Inicio Footer -->
    <div class="container-fluid bg-green text-white py-5 px-sm-3 px-lg-5" style="margin-top: 90px;">
        <div class="row pt-5 justify-content-around">
            <div class="col-lg-3 col-md-6 mb-5">
                <a href="" class="navbar-brand">
                    <h1 class="text-primary"><span class="text-white">SUMAPAZ - OCETÁ</span></h1>
                </a>
                <p>Explora la majestuosidad del Páramo de Ocetá y sumérgete en su biodiversidad única. Descubre la serenidad de este ecosistema natural y déjate inspirar por sus paisajes impresionantes.</p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px;">Contactanos</h5>
                <p><i class="fa fa-map-marker-alt mr-2"></i>Páramo de Sumapaz, Páramo de Ocetá, Colombia</p>
                <p><i class="fa fa-phone-alt mr-2"></i>+57323 456789</p>
                <p><i class="fa fa-envelope mr-2"></i>info@paramooceta.com - info@paramosumapaz.com</p>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-green text-white border-top py-4 px-sm-3 px-md-5" style="border-color: rgba(256, 256, 256, .1) !important;">
        <div class="desing col-lg-6 text-center text-md-right">
            <p class="m-0 text-white">Designed by Silvana</p>
        </div>
    </div>    
    <!-- Fin Footer -->

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
