<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Paramos</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">  <link rel="stylesheet" href="/js/zarzastyle.css">
  <link rel="stylesheet" href="/css/paramostyle.css">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #9CCC65;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Sendero Ecológico</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="paramos.html">Paramos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="ubicacion.html">Ubicación</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="galeria.html">Galería</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="row">
        <div class="col-md-12">
            <img src="/img/bannerparamo.jpg" class="img-fluid" alt="Sendero La Zarza">
        </div>
    </div>
    <!--Paramo de sumapaz-->
    <div class="container mt-5">
        <div class="row mt-4">
            <div class="col-md-12">
                <h2>Páramo de Sumapaz</h2>
                <hr>
            </div>
        </div>
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/img/imagen1.jpg" class="d-block w-100" alt="Slide 1">
                </div>
                <div class="carousel-item">
                    <img src="/img/imagen2.jpg" class="d-block w-100" alt="Slide 2">
                </div>
                <div class="carousel-item">
                    <img src="/img/imagen3.jpg" class="d-block w-100" alt="Slide 3">
                </div>
                <div class="carousel-item">
                    <img src="/img/imagen4.jpg" class="d-block w-100" alt="Slide 3">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-target="#carouselExampleIndicators" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden"><</span>
            </button>
            <button class="carousel-control-next" type="button" data-target="#carouselExampleIndicators" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">></span>
            </button>
        </div>

        <div class="row mt-4">
            <div class="col-md-12">
                <h3>Descripción</h3>
                <hr>
                <p>
                    El Páramo de Sumapaz es una extensa región de páramo ubicada en Colombia, específicamente en la cordillera Oriental de los Andes, al sureste de Bogotá, la capital del país. Es considerado uno de los páramos más grandes del mundo y es reconocido por su gran biodiversidad y su importancia ecológica.

                    El páramo de Sumapaz abarca una superficie de aproximadamente 333.000 hectáreas y se extiende por los departamentos de Cundinamarca y Meta. Su altitud varía entre los 3.200 y los 4.200 metros sobre el nivel del mar, lo que lo convierte en un ecosistema de alta montaña.
                    
                    Este páramo es hogar de una gran variedad de especies vegetales y animales, muchas de las cuales son endémicas y están adaptadas a las condiciones extremas de altura y clima frío. Entre su flora destacan especies como los frailejones, que son plantas características de los páramos andinos, así como una gran diversidad de musgos, líquenes y otras plantas adaptadas a las condiciones extremas.
                    
                    En cuanto a fauna, el páramo de Sumapaz alberga especies como el cóndor andino, el oso de anteojos, el venado de páramo, la danta de páramo y una gran variedad de aves, anfibios e insectos.
                    
                    Además de su importancia biológica, el páramo de Sumapaz cumple funciones ecológicas cruciales, como la regulación del ciclo del agua, la captura de carbono y la protección de cuencas hidrográficas.
                    
                    Por su biodiversidad única y su papel vital en la conservación del medio ambiente, el Páramo de Sumapaz es un área protegida y reconocida como Parque Nacional Natural, con el objetivo de preservar su riqueza natural para las generaciones futuras.
                </p>
            </div>
          </div>
        
          <!-- Título y tabla -->
          <div class="row mt-4">
            <div class="col-md-12">
              <h5>Características del Páramo de Sumapaz</h5>
              <table class="table">
                <thead>
                  <tr>
                    <th>Característica</th>
                    <th>Descripción</th>
                  </tr>
                </thead>
                <tbody>
                    <td>Ubicación</td>
                    <td>Cordillera Oriental de los Andes, sureste de Bogotá, Colombia.</td>
                  </tr>
                  <tr>
                    <td>Extensión</td>
                    <td>Aproximadamente 333.000 hectáreas.</td>
                  </tr>
                  <tr>
                    <td>Altitud</td>
                    <td>Entre 3.200 y 4.200 metros sobre el nivel del mar.</td>
                  </tr>
                  <tr>
                    <td>Biodiversidad</td>
                    <td>Gran diversidad de flora y fauna, incluyendo especies endémicas y adaptadas a condiciones extremas.</td>
                  </tr>
                  <tr>
                    <td>Vegetación</td>
                    <td>Destacan los frailejones, musgos, líquenes y otras plantas adaptadas a climas fríos y húmedos.</td>
                  </tr>
                  <tr>
                    <td>Fauna</td>
                    <td>Incluye especies como el cóndor andino, el oso de anteojos, el venado de páramo y diversas aves.</td>
                  </tr>
                  <tr>
                    <td>Funciones ecológicas</td>
                    <td>Regulación del ciclo del agua, captura de carbono, protección de cuencas hidrográficas.</td>
                  </tr>
                  <tr>
                    <td>Protección</td>
                    <td>Designado como Parque Nacional Natural para su conservación.</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>

    <!--Paramo de oceta-->

    <div class="container mt-5">
        <div class="row mt-4">
            <div class="col-md-12">
                <h2>Páramo de Ocetá</h2>
                <hr>
            </div>
        </div>
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/img/imagen1.jpg" class="d-block w-100" alt="Slide 1">
                </div>
                <div class="carousel-item">
                    <img src="/img/imagen2.jpg" class="d-block w-100" alt="Slide 2">
                </div>
                <div class="carousel-item">
                    <img src="/img/imagen3.jpg" class="d-block w-100" alt="Slide 3">
                </div>
                <div class="carousel-item">
                    <img src="/img/imagen4.jpg" class="d-block w-100" alt="Slide 3">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-target="#carouselExampleIndicators" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden"><</span>
            </button>
            <button class="carousel-control-next" type="button" data-target="#carouselExampleIndicators" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">></span>
            </button>
        </div>

        <div class="row mt-4">
            <div class="col-md-12">
                <h3>Descripción</h3>
                <hr>
                <p>
                    El Páramo de Ocetá es una región de páramo ubicada en Colombia, específicamente en la cordillera Oriental de los Andes, en el departamento de Boyacá. Al igual que otros páramos, como el de Sumapaz, Ocetá es un ecosistema de alta montaña caracterizado por su vegetación especializada y su importancia ecológica.

                    El páramo de Ocetá se encuentra a altitudes que van desde los 3.000 hasta los 4.000 metros sobre el nivel del mar. Es conocido por sus extensas áreas de frailejones, plantas características de los páramos andinos que desempeñan un papel crucial en la regulación del agua y la conservación del suelo.
                    
                    Al igual que otros páramos, el de Ocetá alberga una gran diversidad de flora y fauna adaptadas a las condiciones extremas de altura y clima frío. Entre las especies animales que habitan en este ecosistema se encuentran aves, mamíferos, anfibios e insectos, muchos de los cuales son endémicos de la región.
                    
                    El Páramo de Ocetá desempeña funciones ecológicas importantes, como la captura de carbono, la regulación del ciclo del agua y la protección de cuencas hidrográficas. Además, es un área de gran importancia para la conservación de la biodiversidad y es reconocido como un ecosistema frágil que requiere protección y manejo adecuado.
                </p>
            </div>
          </div>
        
          <!-- Título y tabla -->
          <div class="row mt-4">
            <div class="col-md-12">
              <h5>Características del Páramo de Sumapaz</h5>
              <table class="table">
                <thead>
                  <tr>
                    <th>Característica</th>
                    <th>Descripción</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <tr>
                        <td>Ubicación</td>
                        <td>Cordillera Oriental de los Andes, departamento de Boyacá, Colombia.</td>
                      </tr>
                      <tr>
                        <td>Altitud</td>
                        <td>Entre 3.000 y 4.000 metros sobre el nivel del mar.</td>
                      </tr>
                      <tr>
                        <td>Vegetación</td>
                        <td>Predominan los frailejones, plantas adaptadas a condiciones de páramo.</td>
                      </tr>
                      <tr>
                        <td>Biodiversidad</td>
                        <td>Gran diversidad de flora y fauna adaptadas a condiciones extremas de altura y clima frío.</td>
                      </tr>
                      <tr>
                        <td>Especies emblemáticas</td>
                        <td>Incluyen aves, mamíferos, anfibios e insectos, muchos de los cuales son endémicos de la región.</td>
                      </tr>
                      <tr>
                        <td>Funciones ecológicas</td>
                        <td>Captura de carbono, regulación del ciclo del agua, protección de cuencas hidrográficas.</td>
                      </tr>
                      <tr>
                        <td>Conservación</td>
                        <td>Reconocido como un ecosistema frágil que requiere protección y manejo adecuado.</td>
                      </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>

    <!--Fin paramo de oceta-->

    <!-- Footer Start -->
    <div class="container-fluid bg-green text-white py-5 px-sm-3 px-lg-5" style="margin-top: 90px;">
      <div class="row pt-5 justify-content-around">
          <div class="col-lg-3 col-md-6 mb-5">
              <a href="" class="navbar-brand">
                  <h1 class="text-primary"><span class="text-white">SUMAPAZ - OCETÁ</span></h1>
              </a>
              <p>Explora la majestuosidad del Páramo de Ocetá y sumérgete en su biodiversidad única. Descubre la serenidad de este ecosistema natural y déjate inspirar por sus paisajes impresionantes.</p>
          </div>
          <div class="col-lg-3 col-md-6 mb-5">
              <h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px;">Contact Us</h5>
              <p><i class="fa fa-map-marker-alt mr-2"></i>Páramo de Sumapaz, Páramo de Ocetá, Colombia</p>
              <p><i class="fa fa-phone-alt mr-2"></i>+57323 456789</p>
              <p><i class="fa fa-envelope mr-2"></i>info@paramooceta.com - info@paramosumapaz.com</p>
          </div>
      </div>
  </div>
  <div class="container-fluid bg-green text-white border-top py-4 px-sm-3 px-md-5" style="border-color: rgba(256, 256, 256, .1) !important;">
      <div class="desing col-lg-6 text-center text-md-right">
          <p class="m-0 text-white">Designed by Silvana</p>
      </div>
  </div>    
  <!-- Footer End -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
